/*  ==========================
    BASE TYPOGRAPHY
    This is added as a template to help start. 
    You should change the fonts, font-sizes and anything else appropriate for your site.
    ========================== */

/* Optional, include a web font. @import must come before other styles. These examples are commented out */

/*
@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,500');
*/

/* The html and body selectors below set the base type for the entire page */

@import url('https://fonts.googleapis.com/css?family=Roboto:400&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
}
img{
  width: 50px;
  height: 50px;
  max-width: 100%;
}
a{
  color: #555;
}
header.site-header{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
header.site-header .logo img{
  width:50px;
  height: 50px;
  padding-top: 1fr;
}

header.site-header .bottom-header {
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 7px;
/*     margin-right: 42px; */
}
header.site-header .bottom-header:after, header.site-header .top-header:after {
    content: '';
    display: table;
    clear: both;
}

@media (max-width: 1285px){
  header.site-header .bottom-header {
    margin-right: 0;
  }
}

header.site-header nav {
    float: right;
    padding-top: 15px;
}
@media (max-width: 1285px){
  header.site-header nav {
    padding-top: 10px;
}
}

.hamburger {
    display: none;
    background: linear-gradient(to bottom, #666666 0%, #666666 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 40%, #666666 40%, #666666 60%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 80%, #666666 80%, #666666 100%);
    width: 21px;
    height: 21px;
}
@media (max-width: 1285px){
  .hamburger {
    display: block;
  }
}


nav > ul {
    margin: 0;
    padding: 0;
}
nav a{
  text-decoration: none;
}

header.site-header .menu {
    text-transform: uppercase;
    list-style: none;
    padding-left: 0;
    font-size: 14px;
}

header.site-header .menu li {
    float: left;
    margin-right: 35px;
    position: relative;
}
header.site-header .menu li:last-of-type {
  margin-right: 10px;
}

header.site-header .menu li a {
    text-decoration: none;
    color: #666666;
}

@media (max-width: 1284px){
  header.site-header .menu {
    display: none;
    background-color: white;
  }

  header.site-header .menu li {
      margin-right: 0;
      display: block;
      float: none;
      padding-bottom: 14px;
      text-align: center;
  }
  
  header.site-header .menu li a {
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    display: inline-block;
    position: relative;
  }

}

@media (max-width: 1023px){
  header.site-header .menu li {
    margin-right: 22px;
  }
}

header.site-header .menu.mobile-menu {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 5;
    padding-left: 20px;
    padding-top: 12px;
    border-bottom: 1px solid #e9e9e9;
}


















.page-projects{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
}



Medium screen breakpoint */
@media screen and (min-width: 600px) {
  .page-projects {
    grid-template-columns: 1fr 1fr;
    padding: 0 10%;
  }
}
/* ============ end min-width 600px =============== */

/* ====================================
large screen breakpoint */
@media screen and (min-width: 1200px) {
  .page-projects {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 25%;
  }
}
/* ============ end min-width 1200px =============== */




 


html {
    font-size: 1em;
}

body {
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
}


/* This adds space between paragraphs and list items*/
/* NOTE: most Navigations use list items so you will need to */
/* explicity set the margins on those so this rule doesn't */
/* mess up your navigation styling */
p,
li {
    margin-top: 0;
    margin-bottom: 1em;
}


/* Base Styling for headings.
    You can and should modify these to fit your site*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    font-family: serif;
}


/* For each of your headings at minimum set the margin, size, line-height. 
Adjust font-weight and other properties as needed. */

h1 {
    font-size: 5.063em;
    line-height: 1;
    margin: 0 0 0.5em 0;
}

h2 {
    font-size: 3.375em;
    line-height: 1.2;
    margin: 1.5em 0 0.5em 0;
}

h3 {
    font-size: 2.25em;
    line-height: 1;
    margin: 1.5em 0 0.25em 0;
}

h4 {
    font-size: 1.5em;
    line-height: 1;
    margin: 1.5em 0 0.5em 0;
    font-weight: 400;
}

h5 {
    font-size: 1em;
    line-height: 1;
    margin: 1.5em 0 0.5em 0;
    font-weight: 400;
}

h6 {
    font-size: 1em;
    line-height: 1.5;
    margin: 1em 0 0 0;
    font-weight: 400;
    /* normal */
    text-transform: uppercase;
}

/*  ==========================
    BASE RESPONSIVE
    ========================== */

/* Use border-box box-sizing. This isn't strictly necessary with CSS Grid but can be helpful if you're using a float fallback and it tends to be more intuitive.*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* This is basic way to make images responsive. This means if they're larger than their container they will shrink to fit it. Not a complete solution to responsive images. */

img, video {
    width: auto;
    height: auto;
    max-width: 100%;
}

/*RESPONSIVE VIDEO
See for more info: https://codepen.io/profstein/pen/mrMLRj
*/
.videoWrapper{
    position: relative;
    height: 0;
    /* padding-bottom: 75%; */ /* 4:3 aspect ratio */
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.videoWrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
}


/*  ==========================
    YOUR STYLES
    Add your styles below.
    ========================== */